.transactions {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 440px;
  margin: 10px auto 10px auto;
  padding: 10px;
  border-radius: 10px;
}

.transaction-history {
  border-collapse: collapse;
  width: 100%;
}

.table-border {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}
