.statusOnline {
  background-color: green;
  font-weight: 200;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  padding: 2px;
}

.statusOffline {
  background-color: red;
  font-weight: 200;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  padding: 2px;
}

.avatar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 10px;
}

.name {
  margin: 0;
}
