.friend_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
}

.friend_list:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.item {
  text-align: center;
  max-width: 180px;
  padding: 10px;
}
