.profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
}

.profile:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.description > p {
  margin: 10px 0px 0px 0px;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
}

.stats > li {
  margin-top: 10px;
}
